

.contact-container {
  padding: 60px 0 0 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background5.jpg");
  background-position: center center;
  height: calc(100vh - 80px);
}

.contact h2 {
  margin-top: 0;
}

.contact {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 60px;
  border-radius: 10px;
  padding: 50px;
}

.contact p {
  margin-bottom: 20px;
  line-height: 1.4;
}

.contact address {
  font-style: normal;
  text-align: left;
  line-height: 1.4;
}

.contact iframe {
  width: 100%;
  height: 150px;
  margin: 40px 0 0 0;
}

@media screen and (max-width: 480px) {
  .contact-container {
    height: auto;
    padding: 0 15px;
  }

  .contact {
    margin: 90px 0;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  #sectieTop {
      height: 100vh;
  }
}


@media screen and (min-width: 481px) and (max-width: 767px) {
  #toTop {
    display: none;
  }
    #toLinks {
      margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
  #toTop {
    display: none;
  }

  #toLinks {
    margin-top: 20px;
  }
}