ul {
  position: absolute;
	margin: 0;
  top: 0;
  left: 0;
	padding: 0;
	list-style: none;
	width: 200px;
	}

#scroll {
  display: block;
  margin-left: 46%;
  margin-right: 40%;
  margin-top: 780px;
  color: white;
  }

/*Top*/
#sectieTop {
	height: calc(100vh - 80px);
	background-image: url("../teste.jpg");
	background-size: cover;
}

#titleTop {
	text-shadow: 1px 1px 1px black;
	color: white;
	font-weight: bold;
	font-size: 100px;
	margin-top: 150px;
	margin-left: 25%;
	padding-bottom: 50px;
}
#subtitleTop {
	text-shadow: 1px 1px 1px black;
	color: white;
	font: 30px Helvetica, Sans-Serif;
	font-weight: bold;

	margin-left: 35.5%;
	padding-bottom: 60px;
}
.row {
	text-align: center;
}

@media screen and (max-width: 480px) {
	/*Top*/
	#sectieTop {
		height: 100vh;
	}
	#titleTop {
		font-size: 30px;
		margin: 0;
		margin-top: 250px;
		padding: 10px;
		background-color: PaleVioletRed;
		opacity: 0.8;

	}
	#subtitleTop {
		font-size: 20px;
		margin: 0;
		margin-top: 50px;
		padding: 10px;
		color: DarkSlateGrey;
		background-color: white;
		opacity: 0.8;
		border-radius: 10px;
	}

	/*Blocks*/
	#sectieInfoIn {
		text-decoration: none;
		display: none;
	}
	#sectieInfoOut {
		height: calc(100vh - 160px);
		text-align: center;
	}
	#sectieInfoOut .box {
		margin: 10px;
		margin-top: 20px;
		padding: 10px;
		height: 110px;
		border-radius: 10px;
		background-color: white;
		opacity: 0.9;
	}
	#sectieInfoOut .box:hover {
		background-color: PaleVioletRed;
		opacity: 1;
	}
	#sectieInfoOut h4 {
		padding-top: 0px;
		padding-bottom: 0px;
		font-size: 14px;
		font-weight: bold;
		color: DarkSlateGrey;
	}
	#sectieInfoOut p {
		text-decoration: none;
		display: none;
	}

}

@media screen and (min-width: 481px) and (max-width: 767px) {
	/*Blocks*/
	#sectieInfoIn .box {
		text-decoration: none;
		margin: 10px;
		padding: 10px;
		height: 150px;
		border-radius: 10px;
		background-color: white;
		opacity: 0.9;
	}
	#sectieInfoIn .box:hover {
		text-decoration: none;
		background-color: PaleVioletRed;
		opacity: 1;
	}
	#sectieInfoIn h4 {
		text-decoration: none;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
		font-weight: bold;
		color: DarkSlateGrey;
	}
	#sectieInfoIn p {
		display: none;
	}
	#sectieInfoOut {
		display: none;
	}

	/*Footer*/
	#toTop {
		display:none;
	}
	#toLinks {
		margin-top: 20px;
	}
}


@media screen and (min-width: 768px) {
	/*Blocks*/
	#sectieInfoIn .box {
		text-decoration: none;
		margin: 10px;
		margin-left: 25px;
		margin-right: 25px;
		padding: 10px;
		height: 200px;
		border-radius: 10px;
		background-color: white;
		opacity: 0.9;
	}
	#sectieInfoIn .box:hover {
		text-decoration: none;
		background-color: #F0F8FF;
		opacity: 1;
	}
	#sectieInfoIn h4 {
		text-decoration: none;
		padding-top: 10px;
		padding-bottom: 10px;
		font-weight: bold;

	}
	#sectieInfoIn p {
		color: DarkSlateGrey;
	}
	#sectieInfoOut {
		display: none;
	}

	/*Footer*/
	#toTop {
		display:none;
	}
	#toLinks {
		margin-top: 20px;
	}
}
