* {
	font-family: 'Fira Sans', sans-serif;
}

/*Navigation*/
.navbar .nav > li > a {
	font-size: 14px;
	font-weight: bold;
}
.navbar-toggle {
	border: none;
	outline: none;
}


@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 767px) {

}


@media screen and (min-width: 768px) {
	/*Navigation*/
	.nav {
		padding: 16px;
	}

}	