#main {
	height: calc(100vh - 80px);
	padding-top: 80px;
	margin: 0;
	background-image: url("../images/background3.jpg");
	background-size: cover;
	background-position: center center;
}

#webshopHeader {
	height: 40px;
	padding: 0px;
}

#titleTop {
	margin: 10px;
	color: white;
	text-align: left;
}

#webshopHeader .col-xs-4 {
	padding: 10px;
	padding-right: 20px;
	text-align: right;
}

a:hover {
	outline: none;
}




#webshopMain {
	text-align: center;
}
#webshopMain .box {
	background-color: white;
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px;
	width: 150px;
	height: 210px;
}
#webshopMain .box .article {
	font-weight: bold;
	color: teal;
}
#webshopMain .box .pricetag {
	padding: 10px;
	color: teal;
}
#webshopMain .infoLink {
	background-color: teal;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	width: 150px;
	height: 50px;
}
#webshopMain .info {
	background-color: teal;
	margin: 10px;
	margin-top: -210px;
	margin-bottom: 0px;
	padding: 10px;
	width: 150px;
	height: 210px;
	color: white;
	font-size: 10px;
	display: none;
}

@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}	